DJANGO_SECRET_KEY=your-secret-key-here
DJANGO_DEBUG=True
ALLOWED_HOSTS=*
CORS_ALLOWED_ORIGINS=http://localhost:5173
DB_NAME=avaldr
DB_USER=avaldr
DB_PASSWORD=avaldr_secret
DB_HOST=postgres
DB_PORT=5432
REDIS_URL=redis://redis:6379/0
RETURN_OTP_IN_DEBUG=True
SECURE_SSL_REDIRECT=False

SMS_API_KEY=dbY2UD16i3q7yZkGp19OR9SfVmtaafdqNxFmCd4XMVybOv9n
SMS_TEMPLATE_ID=123456
